.Rproj.user
.Rhistory
.RData
.Ruserdata
Allan
Beth-S20
stat365-calpoly.Rproj
Sara
brainstorming.excalidraw
*reading*
*article-diagramming*
97-mini-projects/one-number-story/data/GSS.xlsx
97-mini-projects/one-number-story/data/original-ca-education-dept/sb_ca2022entities_csv.txt
97-mini-projects/one-number-story/data/original-ca-education-dept/sb_ca2022_all_csv_v1.txt
