.Rproj.user
.Rhistory
.RData
.Ruserdata
Allan
Beth-S20
stat365-calpoly.Rproj
Sara
brainstorming.excalidraw
*reading*
*article-diagramming*
97-mini-projects/one-number-story/data/GSS.xlsx
97-mini-projects/one-number-story/data/original-ca-education-dept/sb_ca2022entities_csv.txt
97-mini-projects/one-number-story/data/original-ca-education-dept/sb_ca2022_all_csv_v1.txt
00-course-info/01-seatingchart.docx
00-course-info/02-seatingchart.docx
02-data-journalism/nul
04-intro-to-viz/tableau-student.docx
05-data-viz-principles/interactive-data-packages.JPG
03-data-descriptions/Code for Table.txt
TPCCpanel.pdf
*tableau-curriculum*
04-intro-to-viz/ameilia-mcnamara/03_vizintro.pdf
04-intro-to-viz/data/SuperDrugsPrescriptions.xlsx
04-intro-to-viz/DataVizChecklist_May2016.pdf
04-intro-to-viz/tabelau-curriculum/Basic Charts.pptx
04-intro-to-viz/tabelau-curriculum/Communicating Data with Tableau.pdf
04-intro-to-viz/tabelau-curriculum/Data Visualization.zip
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Course Grading Rubrics/Module 10 - Final Project Grading Matrix.xlsx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Course Grading Rubrics/Module 10 - Final Project Rubrics.docx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Course Grading Rubrics/Module 2 - Assignment 1 Halloween Rubrics.docx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Course Grading Rubrics/Module 2 - Assignment 2 Halloween Redesign Comments Template.docx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Course Grading Rubrics/Module 8 - Project \#1 Grading Comments Template.docx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Course Grading Rubrics/Module 8 - Project 1 Rubrics.docx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Credited Author_Jeffrey Shaffer.pdf
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Data Visualization Course Syllabus.docx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Data Visualization Course Syllabus.pdf
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 10_Final Project Presentations/Final Project.docx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 1_Introduction/1.1 Presentation_Class - Visual Perception and Preattentive Attributes.pptx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 1_Introduction/Assignment 1.docx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 1_Introduction/Common_Pitfalls.pdf
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 1_Introduction/Graph_Selection_Matrix.pdf
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 1_Introduction/Halloween Assignment.pptx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 1_Introduction/Halloween data for Excel 2016.xlsx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 1_Introduction/Halloween data for Tableau 2016.xlsx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 1_Introduction/Halloween data set in Excel (updated with 2018 data).xlsx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 1_Introduction/Halloween data set in Excel for Tableau import (updated with 2018 data).xlsx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 1_Introduction/HalloweenDataImage.png
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 1_Introduction/Presentation_Introduction to Tableau.pptx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 1_Introduction/Shaffer 4C - Clean Examples.pdf
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 1_Introduction/Shaffer 4C - Clean Examples.xlsx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 1_Introduction/The Shaffer 4 C_s of Data Visualization.pdf
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 2_Data and Data Prep/2.1 Presentation_Class - Data Visualization Fundamentals Halloween Review.pptx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 2_Data and Data Prep/2.2 Presentation_Class - Compare and Contrast.pptx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 2_Data and Data Prep/2.3 Presentation_Class - Data Quality.pptx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 2_Data and Data Prep/Assignment 2-Halloween Redesign Grading Rubrics.docx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 2_Data and Data Prep/Building a Chart Using Trick or Treat Data in Excel.docx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 2_Data and Data Prep/Building a Chart Using Trick or Treat Data in Excel.pdf
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 2_Data and Data Prep/Dashboard_Design_Part_1_v1.pdf
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 2_Data and Data Prep/Dashboard_Design_Part_2_v1.pdf
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 2_Data and Data Prep/Halloween Example 2.pdf
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 2_Data and Data Prep/Halloween Example 3.pdf
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 3_Charts/3.1 Presentation_Class - Visualize 75 and 37 Exercise.pptx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 3_Charts/3.2 Presentation_Class Pie Charts and Chart Types.pptx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 3_Charts/75-37 Exercise Example 1.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 3_Charts/75-37 Exercise Example 2.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 3_Charts/75-37 Exercise Example 3.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 3_Charts/75-37 Exercise Example 4.png
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 3_Charts/75-37 Exercise Example 5.png
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 3_Charts/75-37 Exercise Example 6.png
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 3_Charts/75-37 Exercise Example 7.png
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 4_Visual Perception and Design/4.1 Presentation_Class Use of Color in Data Visualization and CVD.pptx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 4_Visual Perception and Design/4.2 Presentation_Class Exploratory vs Explanatory and Dashboard Design.pptx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 4_Visual Perception and Design/4.3 Presentation_Class Data Visualization Design Considerations.pptx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 5_Visualization Design/5.1 Presentation_Class - Compare and Contrast Real-World Examples.pptx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 5_Visualization Design/5.2 Presentation_Class - Typography _ Data Visualization Design.pptx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/6.1 Data Visualization Exam ANSWER KEY.docx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/6.1 Data Visualization Exam Point Total.xlsx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/6.1 Data Visualization Exam.docx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/6.2 Presentation_Class - Infographics.pptx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Images/Color Example 2.png
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Images/Color Example 3.png
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Images/Comparison Graphs 1.PNG
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Images/Comparison Graphs 2.PNG
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Images/Comparison Graphs 3.PNG
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Images/Dashboard Comparison.PNG
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Images/Profit Legend.png
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Images/Sparkline 2.PNG
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/.facebook_-2069484875.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/04_36_22_506_file.jpeg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/bullhorn-social-media-infographic.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/future of infographics.png
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/graph-538-electoral.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/Healthcare comparison.gif
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/How much do cats kill.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/infographicmaps1.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/infographicmaps20.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/infographicmaps32.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/infographicmaps40.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/infographicmaps41.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/infographicmaps42.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/infographics13.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/infographics39.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/infographics60.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/infographics64.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/infographics65.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/infographics69.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/infographics76.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/map-of-london-train(3).gif
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/metals plastics and other.png
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/online video targeted.png
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/Social_20Media_20Trends.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/socialmediainfographics37.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/socialmediainfographics8.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/Stressful_job.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/texas weather.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/usa-immigraton-infographic.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/what-is-an-infographic.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/what-is-an-infographic_50291a17367d7.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 6_Infographics/Infographics Examples/wp-usage.jpg
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 7_interactive Visualizations/7.1 Presentation_Class - Design Examples.pptx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 7_interactive Visualizations/7.2 Building Gapminder in Tableau.docx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 8_Mapping Data/8.1 Presentation_Class - Mapping Data.pptx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 8_Mapping Data/8.2 Creating a Map in Tableau of New York City Wifi.docx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 9_Data Story/9.1 Presentation_Class - Owning Your Data Story.pptx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 9_Data Story/9.2 A Lite User Interface Checklist for Dashboard Design.pdf
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 9_Data Story/9.2 Link to A Lite UI Checklist for Dashboard Design.txt
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 9_Data Story/9.3 Sample Project 1 - Eurovision Song Contest Redesign.twbx
04-intro-to-viz/tabelau-curriculum/Data Visualization/Data Visualization/Modules/Module 9_Data Story/9.3 Sample Project 1 - Eurovision Song Contest Submission.twbx
04-intro-to-viz/tabelau-curriculum/Flights data in-class exercise.docx
04-intro-to-viz/tabelau-curriculum/Instructor Script - Basic Charts.docx
04-intro-to-viz/tabelau-curriculum/Pharamaceutical data in-class exercise.docx
04-intro-to-viz/tabelau-curriculum/Pharma Sales Dashboard_Solution.twbx
04-intro-to-viz/tabelau-curriculum/student reference - chart overviews.pdf
04-intro-to-viz/tabelau-curriculum/SuperDrugsPrescriptions.xlsx
04-intro-to-viz/tabelau-curriculum/Tableau Desktop Fundamentals Student Guide.pdf
04-intro-to-viz/tabelau-curriculum/Tableau Desktop Fundamentals Teacher Guide.pdf
04-intro-to-viz/tabelau-curriculum/Tableau Fundamentals - Adding customizations to your view.pdf
04-intro-to-viz/tabelau-curriculum/Tableau Fundamentals - Common Charts.pdf
04-intro-to-viz/tabelau-curriculum/Tableau Fundamentals - Exploring Tableau Terminology.pdf
04-intro-to-viz/tabelau-curriculum/Tableau Fundamentals - Foundations of Chart Visualization.pdf
04-intro-to-viz/tableau-student.pdf
04-intro-to-viz/tableau-student.qmd
04-intro-to-viz/practice-with-tableau/penguins.twb
panalist-or-guest-speakers.txt
USCOTS2023
easy-to-read-articles.pdf
soma-150-prompt.pdf
