textbooks-and-readings
canvas-image.jpg
*article-diagramming
05.07-Grades.csv
grade-standing
students-23
students-S24
STATS-ASE 101 Spring 24 (Reynolds)_encrypted_.pdf
weekly-outline.xlsx
365S24_Robinson.pdf
stat365-syllabus-S2024.qmd
